@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.box {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 950px;

}

.box1 {
    background-color: #fff;
}

.box2 {
    background-color: #D3D2D8;
}

.box3 {
    background-color: #EED556;
}

.box4 {
    background-color: #000;
     background-image: url(img/c_05.png);
     background-repeat: no-repeat;
     background-size: cover;
}

 .wrap{
     position: absolute;
     display: block;
     width: 1100px;
     height: 950px;
 }

 .wrap1{
    
 }

.img_posi1{
    position: inherit;
    top: 85px;
    left: 98px;
    
}

.img_posi2{
    position: inherit;
    right: 90px;
    top: 85px;
}

.b1_cont{
    width: 280px;
    position: inherit;
    bottom: 163px;
    left: 185px;
    text-align: right;


    font-style: Noto Sans KR;
    font-weight: Light;
    font-size: 15px;
    color: #000000;
    letter-spacing: 0em;
    line-height: 1.3333333333333333;

}

.b2_cont{
    position: inherit;
    top: 50px;


    font-style: Noto Sans KR;
    font-weight: Medium;
    font-size: 18px;
    color: #000000;
    letter-spacing: -0.06em;
    line-height: 1.5555555555555556;

}

.b3_cont{
    position: inherit;
    top: 50px;


    font-style: Noto Sans KR;
    font-weight: Medium;
    font-size: 18px;
    color: #000000;
    letter-spacing: -0.06em;
    line-height: 1.5555555555555556;

}

 .wrap2{
     background-image: url('img/c_03.png');
     background-repeat: no-repeat;
     background-position-x: center;
     background-position-y: bottom;
 }

 .wrap3{
    background-image: url('img/c_04.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
 }
 
 .wrap4{
     
 }

 .b4_cont01{
    position: inherit;
    color: white;
    top: 50px;

    font-style: Noto Sans KR;
    font-weight: Medium;
    font-size: 18px;
    color: #ffffff;
    letter-spacing: -0.06em;
    line-height: 1.5555555555555556;


 }
 .b4_cont02{
     position: inherit;
     top: 244px;
     width: 100%;
     display: flex;
     justify-content: center;

 }
 .b4_cont03{
    position: inherit;
    font-style: Noto Sans KR;
    font-weight: Medium;
    font-size: 18px;
    color: #ffffff;
    letter-spacing: -0.06em;
    line-height: 1.5555555555555556;
    top: 751px;
    width: 100%;
    text-align: center;


 }
 .b4_cont04{
    position: inherit;
    font-style: Noto Sans KR;
    font-weight: Medium;
    font-size: 15px;
    color: #ffffff;
    letter-spacing: 0em;
    line-height: 2.6666666666666665;
    top: 822px;
    width: 100%;
    text-align: center; 


 }
 .b4_cont05{
     position: inherit;
     width: 100%;
     top: 871px;
    display: flex;
    justify-content: center;
 }

 .b4_cont05>a>img:hover{filter: drop-shadow(0px 0px 8px white) ;}